@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root{
  --white: #fff;
  --primario: #094067;
  --secundario: #3DA9FC;
  --blanco_2: #F0F4F7;
  --black: #000;
  --verde: #4FDC87;
  --red: #ED4C4C;
  --celeste: #78BAEA;
  --amarillo: #FEBF00;
  --bg: #FFFFFE;
  --gray: #8B8B8B;

  --h1: 48px;
  --h2: 39px;
  --h3: 32px;
  --parrafo_largo: 16px;
  --parrafo_regular: 12px;
  --parrafo_pequeño: 10px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Inter', sans-serif;
  background-color: var(--bg);
}

.nav_container{
  background-color: var(--primario);
  height: 60px;
}

.container_max_mobile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 100%;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

.container_logo_icon{
  cursor: pointer;
  width: 130px;
}

.logo_icon{
  width: 100%;
}

.cuenta_icon{
  cursor: pointer;
  width: 28px;
}

.cuenta_icon:hover{
  filter: drop-shadow(0 1px 2px rgb(46, 46, 46));
}

.container_menu{
  width: 100%;
  height: 80%;
  position: absolute;
  background-color: var(--primario);
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.icon--cerrar{
  width: 18px;
  height: 18px;
  position: absolute;
  top: 16px;
  right: 24px;
}

.container_login{
  width: 90%;
  background-color: var(--bg);
}

.header_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  margin: 16px auto;
  max-width: 768px;
  margin: 0 auto;
}

.header--info{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.info-h3{
  font-size: var(--h3);
  font-weight: 600;
}

.info-p-tareas{
  font-size: var(--parrafo_regular);
  font-weight: 300;
  color: var(--gray);
}

.plus_icon{
  width: 40px;
}

.plus_icon:hover{
  filter: drop-shadow(0 1px 1.5px rgba(168, 168, 168, 0.829));
}

.container_task{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 95%;
  margin: 0 auto;
  max-width: 768px;
  margin: 0 auto;
}

.task--row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blanco_2);
  border-radius: 8px;
  width: 100%;
  min-height: 60px;
  padding: 0 16px;
}

.no_marcado--task{
  width: 24px;
  height: 24px;
}

.container-text--task{
  width: 85%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* background-color: var(--black); */
}

.text--task{
  color: var(--black);
  font-size: var(--parrafo_largo);
  font-weight: 400;
}